
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family:helvetica, arial, sans-serif;
}
body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top:20px;
    overflow:hidden;
}

.content-container{
    display:flex;
    flex-direction: column;
    /* width:800px; */
    height:100%;
    justify-content: space-between;
    align-items: center;

}

.navigation{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:24px;
    font-size:12px;
}



.middle-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
}

.border-top{
    height:20px;
    width:100%;
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid #f9ecec;
}

.border-bottom{
    height:20px;
    width:100%;
    display:flex;
    flex-direction: row;
    border-top: 1px solid #f9ecec;
}

.l{
    border-right:1px solid #f9ecec;
    width:20px;
}

.m{
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
}

.r{
    border-left:1px solid #f9ecec;
    width:20px;
}

.page-contents{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height:100%;
    width:100%;
    overflow: hidden;
}

.full-img{
    width:100%;
}

a {
    color:#262424;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    transition: 0.3s;
}

a:visited{
    color:#262424;
    text-decoration: none;
}
a:hover{
    color:#FFDBDB;
}


.svg-container{
    position:absolute;
    left:0%;
    top:35%;
}

.rotate{
    animation-name: rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width:150px;
    height:150px;

    
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.nav-item{
    display: flex;
    flex-direction: column;
    gap:8px;

}

.active{
    width:80%;
    margin: auto;
    height:2px;
    background-color: #FFDBDB;
    border: 1px solid #FFDBDB;
    border-radius: 5px;
}

.plant2{
    position:absolute;
    top:55%;
    left:-5%;
    width:20%;
    z-index: -1;
    transform: rotate(10deg);

}

.plant1{
    position:absolute;
    top:5%;
    left:90%;
    width:12%;
    z-index: -1;
    transform: rotate(-20deg);
}

.text-container{
    padding:40px;

} 



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .border-top{
        height:50px;
    }
    
    .border-bottom{
        height:50px;
    }
    
    .l{
        width:50px;
    }
    
    .r{
        width:50px;
    }

    .full-img{
        width:800px;
    }

    .navigation{

        font-size:14px;
    }

    .svg-container{
        top:25%;
        left:25%;
    }

    .rotate{
        width:250px;
        height:250px;   

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .text-container{
        width:400px;
    }


 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }